/venv/
/MediBot/chatbot-website/media/deepspeech_models/**
/MediBot/chatbot-website/media/deepspeech_models/deepspeech-0.9.3-models.pbmm
/MediBot/chatbot-website/media/deepspeech_models/deepspeech-0.9.3-models.pbmm