Django==5.1
pytest==8.3.3
pytest-django==4.7.0
pytest-cov==4.1.0
flake8==7.1.1
black==23.12.1
reportlab==4.4.0
pillow==10.3.0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
requests==2.32.3
torch==2.6.0
transformers==4.41.2
google-genai==1.11.0
google-generativeai==0.8.4
google-ai-generativelanguage==0.6.15